ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
POLYGONSCAN_API_KEY=
DEBANK_ACCESS_KEY=
COINSTATS_API_KEY=
TONCENTER_API_KEY=
TONAPI_KEY=

AUTO_DETECT_NETWORK=true

REQUEST_TIMEOUT_SECONDS=25
MAX_TRANSACTIONS=300
